body{
    background-color:peachpuff;
    font-family: Arial;
    font-size: 18px;
}

p {
padding-left: 50px;
padding-right: 50px;
}

h1{
    background-color:indigo;
    font-family: arial;
    font-size:xx-large;
    color: white;
    padding: 30px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
    overflow: hidden;
  }

li{
  font-family: arial;
}

  a {
    display: block;
    color: rgb(68, 68, 68);
    text-align: center;
    padding: 14px 16px;
    font-family: arial;
    border: 1px solid white;
    background-color: wheat;
    float: right;
    text-decoration: none;
  }

header, footer{
    background-color:sandybrown;
    font-family: arial;
    color: white;
    padding: 10px;
    margin: 0;
}  

img{
  padding: 15px;
}

dl{
  padding-left: 20px;
}

dt{
  padding: 15px;
}

.site-title{
  color:red;
}

#my-image{
  box-shadow: 0 2px 1px rgb(0, 0, 0);
}

ol{
  list-style: square;
}

li:nth-child(odd) { 
  background-color:seagreen;
}

a:hover{
  color:silver;
  text-decoration: none;
  background-color:tomato;
}