/* text styling */
header {
font-family: arial;
background-image: url('../images/sens.png');
background-color: #C52032;
color: white;
padding: 12%;
text-align: center;
overflow: hidden;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
margin: 0%;
}

body{
    background-color: #C52032;
}

h2{
    font-size:xx-large;
    font-family: arial;
    color: white;
    padding-left: 3%;
}

p{
    color: white;
}

/* nav bar styling */
li{
    float: left;
    text-decoration: none;
    font-family: arial;
    display: inline;
    margin: 0;
    width: 25%;
}

a{
  text-decoration: none;
  display: block;
  padding: 11px;
  color: white;
  font-size: larger;
  text-align: center;
}

ul{
    overflow: hidden;
}

li a:hover{
    background-color: #C2912C;
}

/* div tags */
.paragraph{
    font-family: arial;
    font-size: large;
    padding: 3%;
}

.zub{
    float: left;
    padding: 1%;
}

.goal{
    padding:5%;
}

 /* nhl stats */
table{
    width: 40%;
    font-family: arial;
    color: white;
    border: white;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

th{
    background-color: #f2f2f2;
    color: black;
  }

  /* citing */
cite{
      font-size: 3%;
  }
