header {
font-family: arial;
background-image: url('../images/sens.png');
background-color: #C52032;
color: white;
padding: 12%;
text-align: center;
overflow: hidden;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

li{
    float: left;
    text-decoration: none;
    font-family: arial;
    display: inline;
    margin: 0;
}

a{
  text-decoration: none;
  display: block;
  background-color:#C2912C;
  padding: 10px;
  color: white;
  font-size: larger;
  text-align: center;
}

ul{
    overflow: hidden;
}

li a:hover{
    background-color: darkgoldenrod;
}

h2{
    font-size:xx-large;
    font-family: arial;
    color: #C52032;
}

.paragraph{
    font-family: arial;
}
