header {
font-family: arial;
background-image: url('/images/sens.png');
background-color: crimson;
color: white;
padding: 70px;
text-align: center;
overflow: hidden;
}

ul{
    text-decoration: none;
    list-style: none;
    font-family: arial;
}