/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MOBILE DEVICES */

body{
    font-family: sans-serif;
}

header{
    Position: relative;
    margin: 5px;
    background-Color: #222;
}

.logo{
    background-color: #c78c06;
}

a{
    text-decoration: none;
    color: #c78c06;
}

ul li{
    list-style-type: none;
    color: #c78c06;
    padding: 20px;
    font-size: larger;
}

li{
    text-align: center;
}

li:nth-child(1){
    background-color: #c78c06;
}

.hover{
    color: #222;
}

.searchbar{
    
}

button {
    background-color: #c78c06;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

table{
    width: 100%;
}

table, tr, th, td{
    border: 1px solid black;
}

th, td{
    padding: 1em 0;
}

th{
    background-color: #ffe6ac;
}

.digital{
    padding: auto;
    background-color: #ffe6ac;
}

#services{
    font-size: xx-large;
    font-weight: bold;
    padding: 15px;
}

h4{
    font-size: xx-large;
    font-weight: bold;
    padding: 1%;
}