/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MOBILE DEVICES */

#services{
    font-size: xx-large;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 25px;
    padding-bottom: 20px;
}

#search{
    font-size: 15px;
    width: 81%;
    float: left;
    padding: 14px;
}

#name{
    font-size: 15px;
    padding: 15px;
    width: 99%;
}

#email{
    font-size: 15px;
    padding: 15px;
    width: 99%;
}

#message{
    font-size: 15px;
    padding: 15px;
    width: 99%;
    padding-bottom: 50px;
}

#about-us{
    font-size: xx-large;
    font-weight: bold;
    padding: 15px;
}

#contact{
    font-size: xx-large;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.formtext{
    margin: 15px;
}

.send{
    padding: 5px;
    color: #c78c06;
    margin: 10px;
}

.suam{
    font-size: x-large;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.logo{
    background-color: #c78c06;
}

.container{
    width: 100vw;
    height: 100vh;
}

.hover{
    color: #222;
}

.searchbar{
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
    flex-direction: row;
    display: block;
}

.welcome{
   position: relative;
}

.text{
    position: absolute;
    top: 50px;
    background-color: rgba(34, 34, 34, 0.543);
    color: white;
    width: 95%;
    padding: 10px;
}

.welcomepeeps{
    background-color: #c78c06;
    color: #222;
    padding: 32px 15px;
    display: inline-block;
    font-size: 20px;
    margin: 20px;
}

.butts{
    color: #c78c06;
    border-color: #c78c06;
}

.aboutus{
    background-color: #ffe6ac;
    padding: 10px;
}

.grids{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digital{
    background-color: #ffe6ac;
    margin: 10px;
    width: 100%;
}

.marketing{
    background-color: #ffe6ac;
    margin: 10px;
    width: 100%;
}

.digibutton{
    margin: 10px;
}

.map{
    margin-bottom: 15px;
}

body{
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

header{
    Position: relative;
    background-Color: #222;
}

a{
    text-decoration: none;
    color: #c78c06;
}

ul li{
    list-style-type: none;
    color: #c78c06;
    padding: 20px;
    font-size: larger;
}

li{
    text-align: center;
}

li:nth-child(1){
    background-color: #c78c06;
}

button{
    background-color: #222;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

table{
    width: 100%;
}

table, tr, th, td{
    border: 1px solid black;
}

th, td{
    padding: 1em 0;
}

th{
    background-color: #ffe6ac;
}

h1{
    font-size: 60px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

h4{
    font-size: xx-large;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 10px;
}

p{
    display: inline;
    margin: 5px;
    inline-size: 1.5em;
}

footer{
    background-color: #222;
    color: #c78c06;
    padding: 15px;
}